<IfModule mod_mime.c>
  AddType image/svg+xml .svg
  AddType image/svg+xml .svgz
</IfModule>

<IfModule mod_deflate.c>
  <IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE "image/svg+xml"
  </IfModule>
</IfModule>
